<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<div class="container-fluid">

<h1> <img src='https://goo.gl/iogD7c' class="img-responsive" height="150"> </h1>
<img src= 'https://goo.gl/iWAup3' align="middle" class="img-responsive" height="600">

<form action ="/names" method='post'>
  <div>
    <label for="player_1">Player 1</label>
    <input type="text" name="player_1">
    <label for="player_2">Player 2</label>
    <input type="text" name="player_2">
    <input class="btn btn-default" type="submit" value="Submit" name="Submit">
  </div>
</form>
</div>
